<%- include('includes/head') %>
    <%- include('includes/nav') %>

        <section class="container">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10 my-5">
                    <h1 class="display-3 text-center">Agenda</h1>
                    <%- include('includes/messages') %>
                    <% if(contacts.length > 0) { %>
                    <div class="responsive-table">
                        <table class="table my-3">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Sobrenome</th>
                                    <th scope="col">Contacto telefonico</th>
                                    <th scope="col">Endereço email</th>
                                    <th colspan ="2" scope="colgroup">Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% contacts.forEach(contacts => { %>
                                    <tr>
                                        <td><%= contacts.name %></td>
                                        <td><%= contacts.lastname %></td>
                                        <td><%= contacts.tel %></td>
                                        <td><%= contacts.email %></td>
                                        <td><a href="/contact/<%= contacts._id %>">Edit</a></td>
                                        <td><a class="text-danger" href="/contact/delete/<%= contacts._id %>">Delete</a></td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                    <% } else { %>
                        <p class="text-center lead">No contacts found. Please <a href="/contact">create one</a>.</p>
                    <% } %>

                </div>
                <div class="col-lg-1"></div>
            </div>
        </section>

        <%- include('includes/footer') %>