<%- include('includes/head') %>
    <%- include('includes/nav') %>
        <section class="container">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10 my-5">
                    <h1 class="display-3 text-center">Login or Sign Up</h1>
                    <%- include('includes/messages') %>
                        <div class="row">
                            <div class="col-lg my-5">
                                <h5>Log in to your agenda account</h5>
                                <form class="form-login" action="/login/login" method="POST">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <div class="my-3">
                                        <label for="email" class="form-label">Email address</label>
                                        <input type="email" class="form-control" id="email" name="email">
                                        <% if (inputLoginErrorEmail.length> 0) {%>
                                            <% inputLoginErrorEmail.forEach(erro=> { %>
                                                <div class="form-text" style="color:red">
                                                    <%= erro %>
                                                </div>
                                                <% }) %>

                                                    <% } %>
                                                    <div class="form-text ejs-tag-email-login" style="color:red">
                                                    </div>
                                    </div>
                                    <div class="my-3">
                                        <label for="password" class="form-label">Password</label>
                                        <input type="password" class="form-control" id="password" name="password">
                                        <% if (inputLoginErrorEmail.length > 0) {%>
                                            <% inputLoginErrorEmail.forEach(erro => { %>
                                                <div class="form-text" style="color:red">
                                                    <%= erro %>
                                                </div>
                                            <% }) %>
    
                                                    <% } %>
                                                    <div class="form-text ejs-tag-password-login" style="color:red">
                                                    </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Login</button>
                                </form>
                            </div>
                            <div class="col-lg my-5">
                                <h5>Sign up to create a free account in Agenda</h5>
                                <form class="form-register" action="/login/register" method="POST">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <div class="my-3">
                                        <label for="name" class="form-label">Name</label>
                                        <input type="text" class="form-control" id="name" name="name">
                                        <% if (inputRegisterErrorName.length> 0) {%>
                                            <% inputRegisterErrorName.forEach(erro=> { %>
                                                <div class="form-text" style="color:red">
                                                    <%= erro %>
                                                </div>
                                                <% }) %>

                                                    <% } %>
                                                <div class="form-text ejs-tag-name" style="color:red">
                                                </div>
                                    </div>
                                    <div class="my-3">
                                        <label for="email" class="form-label">Email address</label>
                                        <input type="email" class="form-control" id="email" name="email">
                                        <% if (inputRegisterErrorEmail.length> 0) {%>
                                            <% inputRegisterErrorEmail.forEach(erro=> { %>
                                                <div class="form-text" style="color:red">
                                                    <%= erro %>
                                                </div>
                                                <% }) %>

                                                    <% } %>
                                                <div class="form-text ejs-tag-email" style="color:red">
                                                    </div>
                                    </div>
                                    <div class="my-3">
                                        <label for="password" class="form-label">Password</label>
                                        <input type="password" class="form-control" id="password" name="password">
                                        <% if (inputRegisterErrorPassword.length> 0) {%>
                                            <% inputRegisterErrorPassword.forEach(erro=> { %>
                                                <div class="form-text" style="color:red">
                                                    <%= erro %>
                                                </div>
                                                <% }) %>

                                                    <% } %>
                                                    <div class="form-text ejs-tag-password" style="color:red">
                                                    </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">SignUp</button>
                                </form>
                            </div>
                        </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </section>

        <%- include('includes/footer') %>